version: '3.8'

name: 'url-shortner-api'

services:
  db:
    image: postgres:15-alpine
    container_name: app-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=shorturl
    ports:
      - '5432:5432'
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d shorturl"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pg-data: